<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mysticat - Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="formstyles.css">
</head>
<body>
	<h1>Login</h1>
    <form action="attemptConnection" th:action="@{/attemptConnection}" th:object="${usercredentials}" method="post">
    	<p>Nom d'utilisateur: <input type="text" th:field="*{username}" name="username" required/></p>
        <p>Mot de passe: <input type="password" th:field="*{password}" name="password" required/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>