<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mysticat - Sign Up Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="formstyles.css">
</head>
<body>
	<h1>Sign Up</h1>
    <form action="signUp" th:action="@{/signUp}" th:object="${usercredentials}" method="post">
    	<p>Username: <input type="text" th:field="*{username}" name="username" required pattern=".{5,30}"/></p>
        <p>Password: <input type="password" th:field="*{password}" name="password" required pattern=".{5,100}"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>