
#containerAdmin{
	background: url('../img/backgroundImg/BackgroundSpace.jpg') no-repeat center center
		fixed;
	background-size: cover;
	width: 100%;
	height: 750px;
	margin: 0 0 0 0;
}

h1{
	color:white;
	font-size: 40px;
	line-height: 70px;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 15%;
	width: 50%;
	padding: 10px;
	text-align: center;
}

#contentAdmin{
	display: block;
	position: relative;
	margin: 0 auto;
	top: 20%;
	background-color: rgba(255, 210, 150, 1);
	width: 80%;
	height: 48%;
	padding: 5px;
}

#btnDisconnect{
	display: block;
	margin: 0 auto;
	position: relative;
	width: 15%;
	padding: 5px;
	top: 24%;
	font-size: 18px;
}

#containerUserList{
	background-color: black;
	position: relative;
	color: white;
	width: 50%;
	padding: 5px;
}



.isConnected {
	color: green;
	display: inline-block;
	height: 30px;
}

.isNotConnected{
	color: grey;
	display: inline-block;
	height: 30px;
}

.btnDeconnexionUser{
	display: inline-block;
	position: absolute;
	right: 50px;
	color: blue;
	background-color: yellow;
	border-radius: 20px;
	padding: 2px;
}