@charset "ISO-8859-1";

/* GÉNÉRAL */

* {
	box-sizing: border-box;
}

form {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	text-align: center;
}

#container{
	min-width: 1200px;
}

/* PLATEAU DE JEU */

#board {
	position: relative;
	border: 2px solid black;
	margin-left: 1%;
	width: 98%;
	height: 740px;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('../img/background.jpg');
	cursor: default;
}

/* BOUTTONS DU JEU */

#buttonEndTurn {
	position: absolute;
	top: 47%;
	left: 90.5%;
}
#menuGame {
	background-color:red;
	position: absolute;
	top: 47%;
	left: 1.5%;
	width: 125px;
	border-radius: 20px;
}

#listeMenuHidden{
	display: none;
}

#menuGame:hover #listeMenuHidden{
	display: block;
}

/* MAINS DE CARTES */


/* styles pour les mains */

.hand {
	display: block;
	/*border: 1px solid black;*/
	width: 70%;
	height: 21%;
	margin-left: 15%;
	background-color: rgba(255, 255, 255, 0.4);
}

#selfHand {
	position: absolute;
	bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#opponentHand {
	margin-top: -80px;
	margin-bottom: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* styles pour les cartes dans les mains */

#selfHand .card {
	margin-top: 0.75%;
	font-size: 15px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.hand .cardTile:first-of-type {
	margin-left: 5.5%;
}

/* CHAMPS DE BATAILLE */

/* styles pour les conteneurs */

.fieldContainer {
	height: 22%;
}

#selfFieldContainer {
	margin-bottom: 1%;
}

#opponentFieldContainer {
	margin-top: 0.75%;
}

/* styles pour les champs de bataille */

.battleField {
	display: inline-block;
	width: 60%;
	height: 100%;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}

/* styles pour les cartes et emplacements sur le champ de bataille */

.battleField .cardTile, .graveyard .cardTile, .graveyard .cardFacedDown, .deck .cardTile, .deck .cardFacedDown {
	width: 9.5%;
	margin-top: 1%;
}

.deck .cardTile {
	transform: rotate(90deg);
	width: 30%;
	margin-left: 45px;
}

.deck .cardFacedDown {
	transform: rotate(90deg);
	width: 30%;
	margin-left: 30px;
}

.battleField .cardTile:first-of-type {
	margin-left: 14%;
}

/* CIMETIÈRE */

/* styles pour les zones cimetière */

.graveyard {
	position: relative;
	display: inline-block;
	width: 19.75%;
	height: 100%;
	margin: 0;
}


.graveyardCount, .deckCount{
	color: white;
	position: absolute;
	font-size: 30px;
	font-weight: 800;
}

#selfGraveyard .graveyardCount{
	bottom: -5%;
	right: 15.5%;
}

#opponentGraveyard .graveyardCount{
	top: -23%;
	right: 15.5%;
}

/* styles pour les cartes dans le cimetière */

.graveyard .cardTile {
	width: 30%;
	margin-left: 65%;
}

.graveyard .cardFacedDown {
	width: 30%;
	margin-left: 65%;
}

/* DECK */

/* styles pour les zones deck */

.deck {
	display: inline-block;
	width: 19.75%;
	height: 100%;
	margin: 0;
	position: relative;
}

#selfDeck .deckCount{
	right: 30%;
	top: 28%;
}

#opponentDeck .deckCount{
	right: 30%;
	top: 28%;
}

#opponentDeck{
	top: 8%;
}

#selfDeck{
	top: 8%;
}

/* CARTES */

/* style pour les emplacements de cartes */

.cardTile {
	position: relative;
	display: inline-block;
	border: 1px solid red;
	width: 8%;
	height: 130px;
	margin: 0 0.5% 0 0.5%;
	border-radius: 5px;
	background-color: black;
	font-size: 10px;
}

/* styles pour une carte visible (de face) */

.card {
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width: 8%;
	height: 130px;
	margin: 0 0.5% 0 0.5%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: yellow;
}

.card:hover{
	transform: scale(1.5)
}

.cardName {
	position: absolute; text-decoration : underline;
	overflow: auto;
	color: white;
	text-decoration: underline;
}

.cardManaCost {
	top: 15px; position : absolute;
	color: blue;
	position: absolute;
}

.cardPower {
	top: 30px;
	position: absolute;
	color: red;
}

.cardHealth {
	top: 45px;
	position: absolute;
	color: green;
}

.cardSpeed {
	top: 60px;
	position: absolute;
	font-style: italic;
	color: white;
}

.card+.card {
	margin-left: 1%;
}

#selfField .card:hover, #opponentField .card:hover, #selfHand .card:hover
	{
	bottom: 50px;
}

/* style pour une carte non visible (de dos) */

.cardFacedDown {
	background-image: url("../img/cardback.jpg");
	background-size: 100% 100%;
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width: 8%;
	height: 130px;
	margin: 0 0.5% 0 0.5%;
	border-radius: 5px;
	box-sizing: border-box;
}

/* styles pour les créatures invoquées sur le champ de bataille */

.minion {
	background: darkblue;
}

.minion:hover{
	transform:scale(1.2);
}

/* HÉROS */

/* styles pour les héros */

.hero {
	border: 1px yellow solid;
	display: block;
	width: 10%;
	height: 90px;
	margin: 0 auto;
	padding: 0;
	z-index: auto;
	border-top-left-radius: 35%;
	border-top-right-radius: 35%;
	position: relative;
}
#selfHero{
	margin-top: -10px;
}

.hero:hover {
	border: 4px solid #FAFAD2;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, .25);
}


/* style pour les types de héros */

.zorroHero {
	background-image: url('../img/chatZorro.jpg');
	background-size: cover;
}

.wizardHero {
	background-image: url('../img/chatgicien.jpg');
	background-size: cover;
	background-position: center;
}

.warriorHero {
	background-image: url('../img/chatGuerrier.jpg');
	background-size: cover;
	background-position: center;
}

/* styles pour l'attribut vies du héros (joueur) */

.heroHealth {
	width: 29%;
	border: 2px solid black;
	line-height: 30px;
	font-size: 1.5em;
	height: 40px;
	text-align: center;
	color: white;
	background: black;
	display: inline-block;
	border: lightgreen solid 2px;
	position: absolute;
	top:55%;
}

#selfHealth, #opponentHealth{
	padding: 5px;
	border-radius:50%;
	right:-15%;
	top: 35px;
}

/* styles pour l'attribut mana du héros (joueur) */

#selfMana {
	bottom: 40px;
	padding: 5px;
	right: 5.75%;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 2em;
	border: 2px solid black;
	background-color: #008ae6;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	color: white;
	box-shadow: 0 0 5px white ;
}

#selfMana div {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	line-height: 40px;
	text-align: center;
}

#selfMana:hover {
	transition: 1.2s;
	background-color: #41aff4;
}

/* Général overrides */

.selected{
	border: pink 4px solid;
	outline: none;
    box-shadow: 0 0 20px #9ecaed;
    border-radius: 5px;
}

/* Formulaires */

.expectedFormat{
	
}

.errorMessage{
	color: red;
}

.expectedFormat div{
	margin-left: 10%;
		width: 40%;
		display: inline-block;
}