@charset "ISO-8859-1";

/* G�N�RAL */
* {
	box-sizing: border-box;
}

#loadingScreen {
	background: url('../img/loading.gif');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

#loadingScreenContainer {
	position: relative;
	width: 500px;
	height: 500px;
	margin-left: 50%;
	left: -250px;
	margin-top: 5%;
}

#container {
	min-width: 1200px;
}

.centerTitle {
	padding-left: 45%;
}

#titlePageConnexion {
	color: white;
	text-align: center;
	margin: 0px;
}

.changeConnexionMode {
	color: white;
	cursor: pointer;
}

.changeConnexionMode:hover {
	color: white;
}

/* PLATEAU DE JEU */
#board {
	position: relative;
	border: 2px solid black;
	margin-left: 1%;
	width: 100%;
	height: 853px;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('../img/backgroundImg/background.jpg');
	cursor: default;
	margin:0;
}

/* BOUTTONS DU JEU */
#buttonEndTurn {
	position: absolute;
	top: 67%;
	left: 90.5%;
}

#buttonBattlelog {
	position: absolute;
	top: 95%;
	left: 1%;
	width: 12%;
}

#battlelogZone {
	z-index: 3;
	position: absolute;
	top: 72%;
	left: 1%;
	width: 30%;
	height: 20%;
	background-color: white;
	color: black;
	overflow-y: scroll;
}

#loading {
	text-align: center;
}
/*Menu et Abandon*/
.linkConnection {
	color: white;
	position: absolute;
	top: 5%;
	right: 5%;
}

#menuPlayerName{
	color: white;
	font-weight: bold;
}

#loginForm {
	position: relative;
	width: 100%;
	height: -webkit-fill-available;
	background: url('../img/backgroundImg/backgroundLogin.jpg') no-repeat center center
		fixed;
	background-size: cover;
	overflow: hidden;
}

#MainMenu, #CardCollection {
	color: black;
	top:0px;
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('../img/backgroundImg/BackgroundSpace.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-size: cover;
}

#CardCollection{
	height: auto;
}

#MainMenu{
	height: 100%;
}

.hidden {
	display: none;
}

.visible {
	display: block;
	color: red;
}

.menuContainer {
	margin: 5% 5% 5% 10%;
	width: 80%;
}

#menuBox {
	position: relative;
	width: 40%;
	margin-left: 30%;
	margin-top: 10%;
	padding-bottom: 1%;
	text-align: center;
	background-color: rgba(100, 100, 200, 0.5);
	border-radius: 40px;
}

#titleMenu{
	color: white;
	padding-top: 4%;
}

.buttonDeckMod{
	float:right;
	display: inline-block;
	position: relative;
	padding: 5px;
	right: 2%;
	font-size: 12px;
	top:10px;
	width: 10%;
}

.displayDeckName{
	color:white;
	margin:0 auto;
	text-align: center;
	position: relative;
	right: 5%;
}

.cardDisplayTable{
	position: relative;
	width: 50%;
	margin-left: 25%;
	padding-top: 15%;
}
.gris{
	background-color:gray;
}
.displayDeckTitle{
	position: relative;
	display: inline-block;
	padding:0;
	margin:0;
	color:white;
	text-align: center;
	width:500px;
	left: 40%;
	margin-left:-250px;
	margin-top: 10px;
}

#imgMenuPrincipal {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 10%;
	width: 300px;
	height: 300px;
	background-image: url('../img/backgroundImg/flyingCat.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
		transition:1.5s all;
}

#imgMenuPrincipal:hover {
	top:-100px;
}

#menuGame {
	z-index: 4;
	text-align: center;
	background-color: darkred;
	position: absolute;
	top: 67%;
	left: 0.5%;
	width: 125px;
	border-radius: 20px;
}

#listeMenuHidden {
	display: none;
}

#menuGame:hover #listeMenuHidden {
	display: block;
}


#FullScreenRED, #FullScreenGREEN, #FullScreenOrange {
	z-index: 2;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

#FullScreenRED {
	background-color: rgba(200, 100, 100, 0.3);
}

#FullScreenGREEN {
	background-color: rgba(100, 200, 100, 0.3);
}

#FullScreenOrange {
	background-color: rgba(244, 185, 66, 0.3);
}

#blocGiveUp, #blocGagne, #blocPartieNulle {
	z-index: 3;
	position: absolute;
	top: 30%;
	left: 25%;
	width: 50%;
	height: 20%;
	text-align: center;
	padding-top: 3%;
	border-radius: 40px;
}

#blocGiveUp {
	background-color: darkred;
}

#blocGagne {
	background-color: darkgreen;
}

#blocPartieNulle {
	background-color: rgb(238,118,0);
}

#blocGiveUp > p, #blocGagne > p, #blocPartieNulle > p{
	color: white;
}

#messagePopUp {
	color: white;
}

/* MAINS DE CARTES */

/* styles pour les mains */
.hand {
	display: block;
	/*border: 1px solid black;*/
	width: 70%;
	height: 19%;
	margin-left: 15%;
	background-color: rgb(255, 210, 150);
}

#selfHand {
	position: absolute;
	bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#opponentHand {
	height: 19%;
	margin-top: -80px;
}

#opponentHandUnderLayer {
	height: 10px;
	width: 70%;
	margin-left: 15%;
	background-color: orange;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
}

/* styles pour les cartes dans les mains */
#selfHand .card {
	margin-top: 0.75%;
	font-size: 15px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.hand .cardTile:first-of-type {
	margin-left: 5.5%;
}

/* CHAMPS DE BATAILLE */

/* styles pour les conteneurs */
.fieldContainer {
	height: 21%;
}

/* styles pour les champs de bataille */
.battleField {
	display: inline-block;
	width: 60%;
	height: 100%;
	margin: 0;
	background-color: rgba(255, 210, 150, 1);
}

/* styles pour les cartes et emplacements sur le champ de bataille */
.battleField .cardTile, .graveyard .cardTile, .graveyard .cardFacedDown,
	.deck .cardTile, .deck .cardFacedDown {
	width: 9.5%;
	margin-top: 1%;
}

.deck .cardTile {
	transform: rotate(90deg);
	width: 30%;
	margin-left: 45px;
}

.deck .cardFacedDown {
	transform: rotate(90deg);
	width: 30%;
	margin-left: 30px;
}

.battleField .cardTile:first-of-type {
	margin-left: 12%;
}

#selfFieldUnderLayer {
	height: 10px;
	background-color: orange;
	width: 60%;
	margin-left: 19.75%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* CIMETI�RE */

/* styles pour les zones cimeti�re */
.graveyard {
	position: relative;
	display: inline-block;
	width: 19.75%;
	height: 100%;
	bottom: 5px;
	border: 1px solid black;
}

.graveyard .card{
	width: 30%;
	margin-left: 65%;
}

.graveyardCount, .deckCount {
	color: white;
	position: absolute;
	font-size: 30px;
	font-weight: 800;
}

#selfGraveyard .graveyardCount {
	bottom: 35%;
	right: 42.5%;
}

#opponentGraveyard .graveyardCount {
	top: 35%;
	right: 42.5%;
}

#selfGraveyard {
	background-image: url('../img/backgroundImg/backgroundCemetery2.jpg');
	background-position: -60px;
}

#opponentGraveyard {
	background-image: url('../img/backgroundImg/backgroundCemetery3.jpg');
	background-position: -65px;
}

/* styles pour les cartes dans le cimeti�re */
.graveyard .cardTile {
	width: 30%;
	margin-left: 65%;
}

.graveyard .cardFacedDown {
	width: 30%;
	margin-left: 65%;
}

/* DECK */

/* styles pour les zones deck */
.deck {
	display: inline-block;
	width: 19.75%;
	height: 100%;
	position: relative;
	bottom: 7px;
}

#selfDeck .deckCount {
	right: 30%;
	top: 28%;
}

#opponentDeck .deckCount {
	right: 30%;
	top: 28%;
}

#opponentDeck {
	background-image: url('../img/backgroundImg/woodenBackground1.jpg');
}

#selfDeck {
	background-image: url('../img/backgroundImg/woodenBackground2.jpg');
}

/* CARTES */

/* style pour les emplacements de cartes */
.cardTile {
	position: relative;
	display: inline-block;
	border: 1px solid red;
	width: 8%;
	height: 130px;
	margin: 0 0.5% 0 0.5%;
	border-radius: 5px;
	background-color: black;
	font-size: 10px;
}
.displayDeckAjouter{
	display: none;
	position: absolute;
	top: 40%;
	border: 1px solid red;
	color:white;
	width: 80%;
	height: 60px;
	margin-left:10%;
	border-radius: 20px;
	background-color: darkblue;
	font-size: 20px;
	text-align: center;
	cursor:default;
}
.displayDeckTitle input{
	color:black;
}
.displayDeckTitle button{
	color:black;
}
.cardTile:hover .displayDeckAjouter{display: inline;}

.cardFacedDown:hover .displayDeckAjouter{display: inline;}

/* styles pour une carte visible (de face) */
.card {
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width: 8%;
	height: 130px;
	margin: 0 0.5% 0 0.5%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: green;
}

.invoquer{
	display: none;
	opacity: 0.2;
}

.minion img.cardArt{
	position:absolute;
	top:0px;
	left:5px;
	margin-top: 10px;
	width: 60px;
	height: 75px;
		border-radius:30px;
		margin-left: 50%;
		left:-30px;
}

.card img.cardArt{
	position:absolute;
	top:0px;
	margin-left: 50%;
	left:-30px;
	margin-top: 10px;
	border-radius:30px;
	width: 60px;
	height: 75px;
}

.deleteIcon{
	position: absolute;
	right:-2px;
	top:0px;
	width: 25px;
	height: 25px;
	background-image: url("../img/cardImg/deleteIcon.png");
	background-size:cover;
}

.card:hover {
	transform: scale(1.5);
	z-index: 4;
}

.cardName {
	text-align: center;
	width: 100%;
	font-size:10px;
	position: absolute;
	bottom:20%;
	text-decoration: underline;
	overflow: auto;
	color: white;
	text-decoration: underline;
}

.cardDetailContainer{
	width: 18px;
	height: 18px;
	font-size:12px;
	border: 2px solid black;
	background-color: #008ae6;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	color: white;
	box-shadow: 0 0 5px white;
}



.placingAttribut{
	position: absolute;
	top:50%;
	margin-top: -10px;
	left:50%;
	margin-left: -10px;
	height:20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
}
.cardManaCost {
	z-index:1;
	left:5px;
	top:2%;
	position: absolute;
	color: white;
}

.balancingDetail{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	text-align: center;
}


.cardPower {
	position: absolute;
	left:-2px;
	bottom:0px;
	width: 25px;
	height: 25px;
	background-image: url("../img/cardImg/catpaw2.png");
	background-size:cover;
	color: white;
}

.cardHealth {
	position: absolute;
	left:23px;
	bottom:0px;
	width: 25px;
	height: 25px;
	position: absolute;
	background-image: url("../img/cardImg/heart.png");
	background-size:cover;
	color: white;
}

.cardSpeed {
	position: absolute;
	left:48px;
	bottom:0px;
	width: 25px;
	height: 25px;
	position: absolute;
	background-image: url("../img/cardImg/shoe.png");
	background-size:cover;
	font-style: italic;
	color: white;
}

/**
 Deck viewing and editing
*/

#topMenuItems{
	position: fixed;
	width: 100%;
	z-index:4;
	background: black;
	padding:0;
	margin:0;
}

.fade{
	opacity:1 !important;
}

#selectFavoriteDeckCheckbox{
	position: relative;
	width: 30px;
	height: 100%;
	margin-left: 10px;
	 vertical-align:middle;
	 margin-top:0;
	 box-sizing: border-box;
}

.favoriteDeck{
	border: yellow 5px solid!important;
	box-shadow: 0 0 20px #DAA520;
	border-radius: 5px;
}

#changeFavoriteDeckText{
	position: relative;
	color: yellow;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	height: 30px;
}

.invalidDeck{
	color: red;
	font-weight: bold;
}

.cardInCollection{
	background-color: gray!important;
	opacity:0.75;
}

.cardBig{
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width: 18%;
	height: 170px;
	margin: 0 0.5% 0 0.5%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: green;
}

.cardNameBig {
	background:darkgreen;
	width: 100%;
	text-align: center;
	font-size:13px;
	position: absolute;
	bottom:23%;
	text-decoration: underline;
	overflow: auto;
	color: white;
	text-decoration: underline;
}

.cardBig img{
	position:absolute;
	top:0px;
	left:50%;
	margin-left: -50px;
	border-radius:30px;
	margin-top: 10px;
	width: 100px;
	height: 100px;
}
.cardDetailContainerBig{
	width: 20px;
	height: 20px;
	font-size: 15px;
	border: 2px solid black;
	background-color: #008ae6;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	color: white;
	box-shadow: 0 0 5px white;
	margin-top:3%;
}

#cardCounter{
	font-size: 1.2em;
	color: white;
	text-align: center;
}

.cardManaCostBig {
	z-index:1;
	left:5px;
	position: absolute;
	color: blue;
}

.cardStatBig{
	position: absolute;
	color: white;
	bottom: 0px;
	width: 40px;
	height: 40px;
	background-size:cover;
}

.cardPowerBig {
	background-image: url("../img/cardImg/catpaw2.png");
	left: 1%;
}
.cardHealthBig {
	background-image: url("../img/cardImg/heart.png");
	left:34%;
}
.cardSpeedBig {

	background-image: url("../img/cardImg/shoe.png");
	right: 1%;
	font-style: italic;
}
.cardBig:hover {
	transform: scale(1.5);
	z-index: 4;
}
.gris{
	background-color:gray;
}
.gris .cardNameBig{
	background-color:navy;
}

.card+.card, .cardFacedDown+.cardFacedDown, .card+.cardTile, .cardTile+.card, .cardTile+.cardTile {
	margin-left: 1%;
}

#selfField .card:hover, #opponentField .card:hover, #selfHand .card:hover
	{
	bottom: 50px;
}

/* style pour une carte non visible (de dos) */
.cardFacedDown {
	background-image: url("../img/cardImg/cardback.jpg");
	background-size: 100% 100%;
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width: 8%;
	height: 130px;
	margin: 0 0.5% 0 0.5%;
	border-radius: 5px;
	box-sizing: border-box;
	vertical-align: bottom;
}

/* styles pour les cr�atures invoqu�es sur le champ de bataille */
.minion {
	background: blue;
}

.minion:hover {
	transform: scale(1.2);
}

/* H�ROS */

/* styles pour les h�ros */
.hero {
	border: 1px yellow solid;
	display: block;
	width: 10%;
	height: 90px;
	margin: 7px auto;
	padding: 0;
	z-index: auto;
	border-top-left-radius: 35%;
	border-top-right-radius: 35%;
	position: relative;
}

.wide{
	width: 10% !important;
}

.hero:hover {
	border: 4px solid #FAFAD2;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, .25);
}

.containerHero{
	width: 90%;
	margin-left: 25%;
	padding-bottom: 200px;
	padding-top: 25px;
}
/* style pour les types de h�ros */
.zorroHero {
	background-image: url('../img/heroImg/chatZorro.jpg');
	background-size: cover;
}

.wizardHero {
	background-image: url('../img/heroImg/chatgicien.jpg');
	background-size: cover;
	background-position: center;
}

.warriorHero {
	background-image: url('../img/heroImg/chatGuerrier.jpg');
	background-size: cover;
	background-position: center;
}

.kungfuHero {
	background-image: url('../img/heroImg/chatKungfu.jpg');
	background-size: cover;
}

.chatHero {
	background-image: url('../img/heroImg/chat.jpg');
	background-size: cover;
	background-position: center;
}
.renaissanceHero {
	background-image: url('../img/heroImg/chatLisa.jpg');
	background-size: cover;
	background-position: center;
}
.policeHero {
	background-image: url('../img/heroImg/chatPolice.jpg');
	background-size: cover;
}
.prehistoricHero {
	background-image: url('../img/heroImg/chatRex.jpg');
	background-size: cover;
	background-position: center;
}
.superHero {
	background-image: url('../img/heroImg/chatThor.jpg');
	background-size: cover;
	background-position: center;
}
.hoodyHero {
	background-image: url('../img/heroImg/chatHoody.jpg');
	background-size: cover;
	background-position: center;
}

/* styles pour l'attribut vies du h�ros (joueur) */
.heroHealth {
	width: 29%;
	border: 2px solid black;
	line-height: 30px;
	font-size: 1.5em;
	height: 40px;
	text-align: center;
	color: white;
	background: black;
	display: inline-block;
	border: lightgreen solid 2px;
	position: absolute;
	top: 55%;
}

#selfHealth, #opponentHealth {
	padding: 5px;
	border-radius: 50%;
	right: -15%;
	top: 35px;
}

/* styles pour l'attribut mana du h�ros (joueur) */
#selfMana {
	bottom: 40px;
	padding: 5px;
	right: 5.75%;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 2em;
	border: 2px solid black;
	background-color: #008ae6;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	color: white;
	box-shadow: 0 0 5px white;
}


#selfMana div {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	line-height: 40px;
	text-align: center;
}

#selfMana:hover {
	transition: 1.2s;
	background-color: #41aff4;
}

/* G�n�ral overrides */
.selected {
	border: pink 4px solid;
	outline: none;
	box-shadow: 0 0 20px #9ecaed;
	border-radius: 5px;
}

.fiedlCellSelected {
	border: solid 4px green;
	outline: none;
	box-shadow: 0 0 30px #CAED9E;
	border-radius: 5px;
	opacity: 0.5;
}

/* Formulaires */
.expectedFormat {
	position: relative;
	width: 65%;
	height: 25%;
	margin: auto;
	border: 2px solid white;
	padding: 10px;
	text-align: center;
	background-color: rgba(0, 71, 179, 0.75);
	border-radius: 40px;
	font-weight: bold;
	color: white;
}

.errorMessage {
	color: red;
}

.expectedFormat div {
	width: 40%;
	display: inline-block;
}

#passwordFormat {
	margin-left: 10%;
}

/* NOM JOUEURS DE LA PARTIE */
#selfUserName, #opponentUserName {
	position: absolute;
	left: 1%;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 29px;
	max-width: 43%;
	overflow: hidden;
}

#selfUserName {
	bottom: 18.5%;
}

#opponentUserName {
	top: 10%;
}

/* CONNEXION FORM CSS */
form {
	/*position:absolute;
	width:40%;
	height: 250px;
	top:10%;
	left: 20%;
	margin: auto;
	border: 3px solid green;
	padding: 10px;
	text-align: center;
	background-color: rgba(50, 100, 50, 0.5);*/
	border-radius: 40px;
}

.card-container.boiteConnexion {
	max-width: 350px;
	padding: 40px 40px;
}

.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

/*
 * Boite de connexion
 */
.boiteConnexion {
	background-color: #F7F7F7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 8%;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 3%;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	background: rgba(0, 71, 179, 0.75);
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin #username, .form-signin #password {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}

.form-signin input[type=email], .form-signin input[type=password],
	.form-signin input[type=text], .form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgb(104, 145, 162);
}

.btn.btn-signin {
	/*background-color: #4d90fe; */
	background-color: rgb(104, 145, 162);
	/* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
}

.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
	background-color: rgb(12, 97, 33);
}
/*

*  Minion Attaqueur

*/
.attacker {
	border: red 4px solid;
	outline: none;
	box-shadow: 0 0 20px #d35400;
	border-radius: 5px;
	box-sizing: border-box;
}

.target {
	border: white 4px solid;
	outline: none;
	box-shadow: 0 0 20px #c0392b;
	border-radius: 5px;
}

/* Tooltip */

#tooltipLink {
  color: white;
}

.tooltip.show {
  opacity: 0.9;
}

.tooltip {
  position: absolute;
  transform: none !important;
  top: 32% !important;
  left: 41% !important;
  will-change: transform !important;
}
