@charset "ISO-8859-1";
form{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

#board {
	position: relative;
	border: 2px solid black;
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
	height: 710px;
	background-color: #f442d7;
    cursor: default;
}

.hand {
	display: block;
	border: 2px solid black;
	width: 80%;
	height: 24%;
	margin-left: 10%;
}

.battleField .cardTile{
	display: inline-block;
	border: 1px solid red;
	position: relative;
	width: 10%;
	height: 100%;
	box-sizing: border-box;
}

.graveyard{
	
}
.battleField .graveyard .cardTile{
	display: inline-block;
	border: 1px solid red;
	position: relative;
	width: 10%;
	height: 100%;
	box-sizing: border-box;
}




.battleField{
	margin-top: 0.35%;
	width: 80%;
	height: 24%;
	border: 1px blue solid;
	margin-left: 10%;
}

.battleField .cardTile:first-of-type{
	margin-left: 15%;
}

#opponentHand {
	position: relative;
}

#selfHand {
	position: absolute;
	bottom: 0;
}

.card {
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width: 9%;
	height: 100%;
	box-sizing: border-box;
}

.hand .cardTile {
	display: inline-block;
	border: 1px solid red;
	width: 10%;
	height: 100%;
	box-sizing: border-box;
}



.card+.card {
	margin-left: 1%;
}

#opponentHand .card {
	background-image: url("img/cardback.jpg");
	background-size: 100% 100%;
}

#selfHand .card {
	font-size: 12px;
	background-color: yellow;
	text-align: center;
	font-weight: bold;
}

.cardName {
	text-decoration: underline;
	overflow: auto;
}

.cardManaCost {
	color: blue;
}

.cardPower {
	color: red;
}

.cardHealth {
	color: green;
}

.cardSpeed {
	font-style: italic;
}

.heroHealth {
	width: 10%;
	border: 2px solid black;
	line-height: 30px;
	font-size: 2em;
	height: 40px;
	text-align: center;
	color: white;
	background: black;
	display: inline-block;
}

#selfHealth {
	position: absolute;
	bottom: 0px;
}

#opponentHealth{
	position: absolute;
	top: 0px;
}

#globalMana{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	border: 2px solid black;
	background-color: blue;
	 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: white;
    font-size: 2em;
}

#globalMana:hover{
	transition: 1.2s;
	background-color: #41aff4;
}

#globalMana div{
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    line-height: 50px;
    text-align: center;
}

#selfMana{
	
}