@charset "ISO-8859-1";

*{
	box-sizing: border-box;
}

form{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

/* Plateau de jeu général */

#board {
	position: relative;
	border: 2px solid black;
	margin-left: 1%;
	width: 98%;
	height: 710px;
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('./img/background.jpg');
    cursor: default;
}

/* mains de cartes */

.hand {
	display: block;
	/*border: 1px solid black;*/
	width: 70%;
	height: 21%;
	margin-left: 15%;
	background-color: rgba(255, 255, 255, 0.4);
}

#opponentHand {
	margin-top: -80px;
	margin-bottom: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#opponentHand .card {
	background-image: url("img/cardback.jpg");
	background-size: 100% 100%;
}

#selfHand {
	position: absolute;
	bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#selfHand .cardTile{
	margin-top: 0.75%;
}

#selfHand .card {
	font-size: 12px;
	background-color: yellow;
	text-align: center;
	font-weight: bold;
}

.hand .cardTile:first-of-type{
	margin-left: 5.5%;
}

#opponentHand .cardTile{
	margin-top: 10px;
}

/* champs de bataille */

.fieldContainer{
	/*border: 1px solid green;*/
	height: 22%;
}

#opponentFieldContainer{
	margin-top: 0.75%;	
}

#selfFieldContainer{
	margin-bottom: 1%;
}

.battleField{
	display:inline-block;
	width: 60%;
	height: 100%;
	/*border: 1px blue solid;*/
	margin: 0;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}

.battleField .cardTile, .graveyard .cardTile, .deck .cardTile{
	width: 9.5%;
	margin-top: 1%;
}

.deck .cardTile{
	transform: rotate(90deg);
	width: 30%;
	margin-left: 30px;
}


.battleField .cardTile:first-of-type{
	margin-left: 14%;
}

/* cimetières */

.graveyard{
	display:inline-block;
	/*border: 2px orange solid;*/
	width: 19.75%;
	height: 100%;
	margin: 0;
}

.graveyard .cardTile{
	width: 30%;
	margin-left: 65%;
}

/* decks */

.deck {
	/*border: 2px purple solid;*/
	display:inline-block;
	width: 19.75%;
	height: 100%;
	margin: 0;
}

/* héros */

.hero{
	border: 1px yellow solid;
	display:block;
	width: 10%;
	height: 12%;
	margin: 0 auto;
	padding: 0;
	z-index: auto;
	border-top-left-radius: 35%;
	border-top-right-radius: 35%;
}

.hero:hover{
	border: 4px solid #FAFAD2;
	box-shadow: 0 0 0 5px rgba(255,255,255,.25);
}

#opponentHero{
	background-image: url('./img/chatZorro.jpg');
	background-size: cover;
}

#selfHero{
	background-image: url('./img/chatgicien.jpg');
	background-size: cover;	
	background-position: center;

}

/* cartes */

.cardTile{
	display: inline-block;
	border: 1px solid red;
	width: 8%;
	height: 130px;
	margin: 0 0.5% 0 0.5%;
	border-radius: 5px;
	background-color: black;
}

.cardTile:hover{
	background-color: white;
	transform: scale(1.5);
}

.card {
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width: 9%;
	height: 100%;
	box-sizing: border-box;
}

.card+.card {
	margin-left: 1%;
}

.cardName {
	text-decoration: underline;
	overflow: auto;
}

.cardManaCost {
	color: blue;
}

.cardPower {
	color: red;
}

.cardHealth {
	color: green;
}

.cardSpeed {
	font-style: italic;
}

/* attributs joueur */

.heroHealth {
	width: 8%;
	border: 2px solid black;
	line-height: 30px;
	font-size: 2em;
	height: 40px;
	text-align: center;
	color: white;
	background: black;
	display: inline-block;
	border-bottom: white solid 1px;
	border-left: white solid 1px;
	border-right: white solid 1px;
	left: 34%;
}

#selfHealth {
	position: absolute;
	bottom: 155px;
	
}

#opponentHealth{
	position: absolute;
	top: 118px;
}

#selfMana{
	bottom: 2%;
	right: 8%;
}

#opponentMana{
	top: 5%;
	right: 8%;
}

<<<<<<< HEAD
.mana{
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
=======
.manaCrystal{
>>>>>>> f87722797b5f5544d04bb99ecf1e9f9f9b695ad3
	border: 2px solid black;
	background-color: blue;
	 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: white;	
}

#globalMana{
    font-size: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
}

.mana:hover{
	transition: 1.2s;
	background-color: #41aff4;
}

.mana div{
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    line-height: 50px;
    text-align: center;
}
<<<<<<< HEAD
=======

#selfMana div{
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    line-height: 26px;
    text-align: center;
}

#selfMana{
	position: absolute;
	bottom: 10px;
	right: 4px;
	position: absolute;
	width: 26px;
	height: 26px;
	font-size: 1.5em;
}
>>>>>>> f87722797b5f5544d04bb99ecf1e9f9f9b695ad3
