@charset "ISO-8859-1";

#board{
	position: relative;
	border: 2px solid black;
	margin-top: 1%;
	margin-left: 2.5%;
	width: 95%;
	height: 625px;
	background-color:#f442d7;	
}

.hand{
	display: block;
	border: 2px solid black;
	width : 90%;
	height: 100px;
	margin-left: 5%;
}

#opponentHand{
	position: relative;
}

#selfHand{
	position: absolute;
	bottom: 0;
}

.card{
	display: inline-block;
	border: 1px solid black;
	position: relative;
	width : 9%;
	height: 100%;
	box-sizing: border-box;
}

.card + .card{
	margin-left: 1%;
}

#opponentHand .card{
	background-image: url("img/cardback.jpg");
	background-size: 100% 100%;
}

#selfHand .card{
	font-size: 12px;
	background-color: yellow;
	text-align: center;
	font-weight: bold;
}

.cardName{
	text-decoration: underline;
	overflow: auto;
}

.cardManaCost{
	color: blue;
}

.cardPower{
	color: red;
}

.cardHealth{
	color: green;
}

.cardSpeed{
	font-style: italic;
}

.heroHealth{
	
}

#selfHealth{
	position: absolute;
	width:10%;
	border: 2px solid black;
	bottom: 100px;
	margin-left: 45%;
	height: 40px;
	text-align: center;
	line-height: 30px;
	font-size: 2em;
	color: red;
	background: blue;
}